{% extends 'base.html.twig' %}

{% block title %} {{ Actualite.ActualiteTitre }} {% endblock %}
{% block body %}
<section class="section blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				
				<article class="single-post">
				
					<div class="post-title text-center">
						<h1> {{Actualite.ActualiteTitre}} </h1>
						
						<ul class="list-inline post-tag">
							
							
							<li class="list-inline-item">
								{{Actualite.CreatedAt|date('F d,Y')}}
							</li>
						</ul>
					</div>
					
					<div class="post-body">
						
						<div class="feature-image d-flex justify-content-center align-items-center">
							<img class="img-fluid w-50"  src="/uploads/image/{{Actualite.ActualiteImage}}" style=" object-fit:cover;" alt="feature-image">
						</div>
						
						<p> {{Actualite.ActualiteContenu}} </p>
						
					</div>
				</article>
	        		<div class="image-gallery" >
	
						{% for media in Actualite.media %}
                				{% if media.MediaPhoto %}
                		    		<img data-aos="flip-right" data-aos-duration="3000" class="img-fluid w-25" src="/uploads/image/{{ asset(media.MediaPhoto) }}" alt="{{ media.description }}" />
        	        			{% endif %}
			
        				{% endfor %}
					</div>
			</div>
		</div>
	</div>
</section>
   
{% endblock %}