{% extends 'base.html.twig' %}

{% block title %} {{ Actualite.ActualiteTitre }} {% endblock %}
{% block body %}
<section class="section blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-10 m-auto">
				
				<article class="single-post">
				
					<div class="post-title text-center">
						<h1> {{Actualite.ActualiteTitre}} </h1>
						
						<ul class="list-inline post-tag">
							
							
							<li class="list-inline-item">
								{{Actualite.CreatedAt|date('F d,Y')}}
							</li>
						</ul>
					</div>
					
					<div class="post-body">
						
						<div class="feature-image d-flex justify-content-center align-items-center">
							<img class="img-fluid w-50"  src="/uploads/image/{{Actualite.ActualiteImage}}" style=" object-fit:cover;" alt="feature-image">
						</div>
						
						<p> {{Actualite.ActualiteContenu|raw}} </p>
						
					</div>
				</article>
	        		<div class="image-gallery" >
	
						{% for media in medias %}
    						{% for image in images[media.getId()] %}
    						    <img data-aos="flip-right" data-aos-duration="3000" class="img-fluid w-25" style=" object-fit:cover;" src="{{ '/uploads/image/' ~ image.getNom() }}"  alt="{{ media.getDescription() }}" />
    						{% endfor %}
						{% endfor %}
					</div>
			</div>
		</div>
	</div>
</section>
   
{% endblock %}