{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{# Section Hero #}
	<section class="section gradient-banner" data-aos="zoom-in" data-aos-duration="2000">
		<div class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url('{{asset('image/hero11.jpg')}}') ;background-repeat: no-repeat;background-position: center; background-size: cover;">
			<div id="textCarousel" class="carousel slide" data-ride="carousel">
				<div class= "carousel-inner">
					<div class="carousel-item active">
						<div class="slide-group">
							<p class="slide" style="font-size: 32px; font-weight:600;">Agroécologie et developpement local</p>
							<p class="slide" style="font-size: 32px; font-weight:600;">Protection de l'environnement et developpement rural</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="slide-group">
							<p class="slide" style="font-size: 32px; font-weight:600;">Agroécologie</p>
							<p class="slide" style="font-size: 32px; font-weight:600;">Gestion durable des terres</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="slide-group">
							<p class="slide" style="font-size: 32px; font-weight:600;">Sécurité alimentaire</p>
							<p class="slide" style="font-size: 32px; font-weight:600;">Restauration et protection des ressources naturelles</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="slide-group">
							<p class="slide" style="font-size: 32px; font-weight:600;">Restauration forêts naturelles</p>
							<p class="slide" style="font-size: 32px; font-weight:600;">Protection et restauration de la biodiversité</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="slide-group">

							<p class="slide" style="font-size: 32px; font-weight:600;">Protection de source</p>
							<p class="slide" style="font-size: 32px; font-weight:600;">Foyers améliorés et combustibles de substitution</p>

						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	{# Section Apropos #}
	<section class=" section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ml-auto align-self-center" style="display: flex; align-items: center;">
					<div class="feature-content" data-aos="fade-right" data-aos-duration="2000">
						<h1 class="text-center" data-aos="fade-right" data-aos-duration="3000" style="margin: 5%;">A propos de nous</h1>
						<p class="desc">
							Créée en Novembre 1991 en vue de la promotion de la protection de l'environnement et du développement économique et social à Madagascar. L'ANAE se spécialise dans la lutte contre l'érosion, la conservation des eaux et des sols, et le développement rural.
						</p>
						<div class="d-flex justify-content-start">
							<a href=" {{path('app_apropos')}} " style="text-decoration: none; transition: all 0.4s ease; color: black;  margin-bottom: 7px;">
								<span style=" font-weight: 400; vertical-align: middle;"> Voir plus <ion-icon name="arrow-forward-outline" style="font-size: 25px; vertical-align: middle;color: #000000bb;"></ion-icon></span> 
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mr-auto justify-content-center">
					<div class="image-content" data-aos="fade-left" data-aos-duration="2000">
						<img class="img-fluid" src=" {{asset('image/Apropos.jpg')}} " alt="Apropos" style="object-fit:cover;">
					</div>
				</div>
			</div>
		</div>
	</section>

	{# Section Presentation #}
	<section class="p-5 feature">
    	<div class="container">
        	<h1 class="text-center mb-5" data-aos="zoom-in" data-aos-duration="3000">Présentation</h1>
        	<div class="row text-center">
        		<div class="col-md-4 mb-4">
            		<a href="{{ path('app_equipe') }}" class="presentation">
						<div class="card pre" data-aos="flip-right" data-aos-duration="3000">
							<div class="card-pre">		
									<i class="fas fa-users fa-3x mt-3"></i>
                					<div class="card-body">
                    					<h5 class="card-title">
                    	    				Notre équipe
                    					</h5>
                					</div>
							</div>
            			</div>
					</a>
				</div>

        		<div class="col-md-4 mb-4">
        		    <a href="{{ path('app_affiliation') }}" class="presentation">
						<div class="card pre" data-aos="flip-right" data-aos-duration="3000">
							<div class="card-pre">
        		    	    	<i class="fas fa-handshake fa-3x mt-3"></i>
        		    	    	<div class="card-body">
        		    	    	    <h5 class="card-title">
        		    	    	        Affiliation
        		    	    	    </h5>
        		    	    	</div>
							</div>
        		    	</div>
					</a>
        		</div>
        		<div class="col-md-4  mb-4">
        		    <a href="{{ path('app_competence') }}" class="presentation">
						<div class="card pre" data-aos="flip-right" data-aos-duration="3000">
							<div class="card-pre">
								<i class="fas fa-cogs fa-3x mt-3"></i>
        		    	    	<div class="card-body">
        		    	    	    <h5 class="card-title">
        		    	    	        Compétence
        		    	    	    </h5>
        		    	    	</div>
							</div>
        		    	</div>
					</a>
        		</div>
        	</div>
    	</div>
	</section>

	{# Section Missions #}
	<section class=" section pt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ml-auto justify-content-center">
					<div class="image-content">
						<div data-aos="fade-right" data-aos-duration="2000">
							<img class="img-fluid" src=" {{asset('image/mission3.jpg')}} " alt="mission" style="object-fit:cover; width: 100%;">
						</div>
					</div>
				</div>
				<div class="col-lg-6 mr-auto align-self-center" style="display: flex; align-items: center;">
					<div class="feature-content" data-aos="fade-left" data-aos-duration="2000">
						<h2 style="text-align: center;">Missions</h2>
						<p class="desc" style="color:#808080">L'A.N.A.E apporte sa contribution dans la mise en place d'une gestion durable des ressources naturelles et à l'amélioration du cadre de vie rural pour garantir à la fois le bien-être de l'écosystème et le bien-être humain.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class=" section pt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 ml-auto align-self-center" style="display: flex; align-items: center;">
					<div class="feature-content" data-aos="fade-right" data-aos-duration="2000">
						<h2 style="text-align: center;">Objectifs</h2>
						<p class="desc" style="color:#808080">L'ANAE veut contribuer à la mise en place d'une gestion durable des ressources naturelles productives et à l'amélioration du cadre de vie rurale. Son domaine d'intervention se concentre autour de la conservation des eaux et des sols.</p>
						<div class="d-flex justify-content-center">
							<a href="javascript:void(0)" id="toggleAccordion1" style="text-decoration: none; color: black;">
								<ion-icon id="accordionIcon1" name="chevron-down-outline" style="color:#808080"></ion-icon>
							</a>
						</div>
						<ul id="accordion1" style="display: none " data-aos="fade-up" data-aos-duration="1000">
							<li style="color:#808080">promouvoir des techniques d'aménagement et d'exploitation des sols respectueuses de l'environnement</li>
							<li style="color:#808080">encourager la rationalisation de l'occupation et de l'utilisation des sols</li>
							<li style="color:#808080">promouvoir la maîtrise et la gestion des ressources naturelles par la population</li>
							<li style="color:#808080">soutenir l'augmentation de la production et des revenus agricoles</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 mr-auto justify-content-center">
					<div class="image-content" data-aos="fade-left" data-aos-duration="2000">
						<img class="img-fluid" src="{{ asset('image/objectifs3.jpg') }}" alt="Objectifs" style="object-fit: cover; border-radius: 15%; width: 90%;">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class=" section pt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mr-auto justify-content-center">
					<div class="image-content" data-aos="fade-left" data-aos-duration="2000">
						<img class="img-fluid" src="{{ asset('image/Approche.jpg') }}" alt="Objectif4" style="object-fit: cover; border-radius: 15%; width: 90%;">
					</div>
				</div>
				<div class="col-lg-6 ml-auto align-self-center" style="display: flex; align-items: center;">
					<div class="feature-content" data-aos="fade-right" data-aos-duration="2000">
						<h2 style="text-align: center;">Approches Stratégiques</h2>
						<p class="desc" style="color:#808080">La mise en œuvre de toutes les activités est basée sur des approches stratégiques garantissant l'appropriation et la pérennisation, notamment :</p>
						<div class="d-flex justify-content-center">
							<a href="javascript:void(0)" id="toggleAccordion2" style="text-decoration: none; color: black;">
								<ion-icon id="accordionIcon2" name="chevron-down-outline" style="color:#808080"></ion-icon>
							</a>
						</div>
						<ul id="accordion2" style="display: none" data-aos="fade-down" data-aos-duration="1000">
							<li style="color:#808080">L'approche participative impliquant toutes les parties prenantes (communautés, autorités à tous les niveaux, services techniques déconcentrés) depuis l'identification des activités en passant par la réalisation jusqu'au suivi-évaluation.</li>
							<li style="color:#808080">L'approche genre incitant la participation massive des femmes dans toutes les étapes de réalisation des activités.</li>
							<li style="color:#808080">L'approche filière basée sur l'identification des filières porteuses et l'orientation vers le marché.</li>
							<li style="color:#808080">Les actions de communication sur toute activité à entreprendre à travers l'organisation de journées d'information-sensibilisation sur les thèmes véhiculés. Des supports audio-visuels (photos, brochures, posters, films) sont utilisés afin de faciliter la compréhension des messages par les cibles.</li>
							<li style="color:#808080">Le renforcement de capacités technique et organisationnelle des communautés cibles : ce transfert effectif des compétences est primordial pour prétendre à une autonomie des bénéficiaires et par la suite à une pérennisation des actions menées. Par ailleurs, l'appui socio-organisationnel est indispensable pour s'assurer du bon fonctionnement des associations, pour faire face aux exigences du marché et garantir des justes prix des produits agricoles.</li>
							<li style="color:#808080">Le système d'encadrement de proximité des communautés dans la mise en œuvre des activités : des paysans innovants et dynamiques bénéficient d'appuis techniques permanents pour leur permettre de bien maîtriser les techniques et d'encadrer par la suite, les autres paysans environnants de leurs villages.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		const toggleAccordion1 = document.getElementById('toggleAccordion1');
		const accordion1 = document.getElementById('accordion1');
		const accordionIcon1 = document.getElementById('accordionIcon1');

		toggleAccordion1.addEventListener('click', () => {
		if (accordion1.style.display === 'none' || accordion1.style.display === '') {
		accordion1.style.display = 'block';
		accordionIcon1.setAttribute('name', 'chevron-up-outline');
		} else {
		accordion1.style.display = 'none';
		accordionIcon1.setAttribute('name', 'chevron-down-outline');
		}
		});

		const toggleAccordion2 = document.getElementById('toggleAccordion2');
		const accordion2 = document.getElementById('accordion2');
		const accordionIcon2 = document.getElementById('accordionIcon2');

		toggleAccordion2.addEventListener('click', () => {
		if (accordion2.style.display === 'none' || accordion2.style.display === '') {
		accordion2.style.display = 'block';
		accordionIcon2.setAttribute('name', 'chevron-up-outline');
		} else {
		accordion2.style.display = 'none';
		accordionIcon2.setAttribute('name', 'chevron-down-outline');
		}
		});
	</script>


{% endblock %}
